[submodule "workshop-map-src"]
	path = workshop-map-src
	url = https://github.com/bridgefoundry/workshop-map.git
[submodule "code-of-conduct-src"]
	path = code-of-conduct-src
	url = https://github.com/bridgefoundry/code-of-conduct.git