
body {
  padding-top: 50px;
}

h2 {
  font-size: 24px;
}

.hero {
  width: 100%;
  height: auto;
}

.headline {
  text-align: center;
}

.toc {
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-top: none;
}

#bridgefoundry-logo {
  float: left;
  width: 100px;
  margin-right: 10px;
}

.bridgefoundry-advisors-imgs {
  margin: 0 auto 5px 5px;border: 2px solid #ccc;width: 150px;height: 150px;float: right;
}



/* Donate button */
.donate-area {
  height: 60px;
}
.donate-btn {
  margin: 4px;
  color: #fff;
  background-color: #db5566;
  border-bottom:2px solid #af4451;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration:none;
  float: left;
}

.donate-btn:hover {
  color: #fff;
  background-color: #df6a78;
  border-bottom:2px solid #b25560;
  outline: none;
  text-decoration:none
}


.donate-btn:active {
  color: #fff;
  background-color: #c04b59;
  border-top:2px solid #9a3c47;
  margin-top: 2px;
}

.board {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.board__info{
  padding-right: 60px;
}

.board__info--sponsor-logo {
  margin-bottom: 10px;
}